<% provide(:title, 'About Us') %>    
    
    <h1>About Us</h1>
      <p>
	    The <a href="http://recipository.herokuapp.com/">Recipository project</a> is an effort to make seamless recipe sharing a reality for people with every diet imaginable. This app will also keep a detailed groacery list compiled from your planned recipes right on your profile!
      </p>	
  