<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>The Recipository | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Welcome to The Recipository</h1>
    <p>
      This is the home page for 
      <a href="http://recipository.herokuapp.com/">The Recipository.</a>
      
    </p>
  </body>
</html>